* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(210, 46%, 95%);
  font-size: 13px;
  font-family: "Barlow Semi Condensed", serif;
  margin: 10px;
}

h2 {
  margin-top: 14px;
}

/* Makes it so that name and verified title appears at the right side of the portrait */
.person {
  display: flex;
  gap: 20px;
}

/* makes the portrait image round and sizes it appropriately */
.portrait img {
  border-radius: 50%;
  width: 30px;
}

/* distinct borders to .card-one and .card-four */
.card-one .portrait img {
  border: 2px hsl(263, 55%, 70%) solid;
}

.card-four .portrait img {
  border: 2px hsl(263, 55%, 52%) solid;
}

/* Grid container and desktop layout (1440px)  */
@media (min-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
  }
}

/* header styling .header-one is for darker backgrounds (white text)
.header-two is white background (darker texts) */
.card-one h2,
.card-two h2,
.card-four h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.card-three h2,
.card-five h2 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

/* Name styling */
.card-one h3,
.card-two h3,
.card-four h3 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.card-three h3,
.card-five h3 {
  color: hsl(217, 19%, 35%);
  font-weight: 500;
}

/* Verified Graduate title styling */
.card-one h5,
.card-two h5,
.card-four h5 {
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  opacity: 50%;
}

.card-three h5,
.card-five h5 {
  font-weight: 500;
  color: hsl(217, 19%, 35%);
  opacity: 50%;
}

/* Paragraph styling */
.card-one p,
.card-two p,
.card-four p {
  line-height: 1.5;
  letter-spacing: 0.8px;
  font-weight: 400;
  margin-top: 30px;
  color: hsl(0, 0%, 100%);
  opacity: 70%;
}

.card-three p,
.card-five p {
  line-height: 1.5;
  letter-spacing: 0.8px;
  font-weight: 500;
  margin-top: 30px;
  color: hsl(217, 19%, 35%);
  opacity: 70%;
}

/* Separate card styling to ensure proper layout and background coloring */
.card-one {
  background-color: hsl(263, 55%, 52%);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-position-x: 80%;
  background-repeat: no-repeat;
  grid-column: span 2;
}

.card-two {
  background-color: hsl(217, 19%, 35%);
}

.card-three {
  background-color: hsl(0, 0%, 100%);
  grid-row: 2;
  grid-column: 1;
}

.card-four {
  background-color: hsl(219, 29%, 14%);
  grid-column: 2 span;
  grid-row: 2 / span 1;
}

.card-five {
  background-color: hsl(0, 0%, 100%);
  grid-row: span 2;
}

/* Collective card styling */
.card-one,
.card-two,
.card-three,
.card-four,
.card-five {
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}

/* Mobile Layout (375px) */
@media (max-width: 375px) {
  .container {
    display: grid;
    grid-template-columns: 1fr; /* Stack the cards vertically */
    max-width: 100%;
    width: 100%;
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four,
  .card-five {
    grid-column: span 1;
  }
}

/* Default attribution styling that came with the project */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
